{% extends "base.html" %}
{% block content %}
<h2>Регистрация</h2>
<form method="post">
  <label>ФИО <input name="full_name"></label>
  <label>Email <input type="email" name="email" required></label>
  <label>Пароль <input type="password" name="password" required></label>
  <label>Роль
    <select name="role">
      <option value="client">client</option>
      <option value="manager">manager</option>
      <option value="admin">admin</option>
    </select>
  </label>
  <button>Создать</button>
</form>
{% endblock %}
